{% extends "base.html" %}

{% block content %}
    <section>
        <h2>Detalhes do Integrante</h2>
        <div class="integrante-details">
            <div class="integrante-info">
                <h3>{{ integrante.nome }}</h3>
                <p>Tipo: {{ integrante.tipo }}</p>
                <img src="{{ integrante.foto.url }}" alt="{{ integrante.nome }}">
            </div>
            <div class="publicacoes">
                <h3>Publicações</h3>
                <ul>
                    {% for publicacao in publicacoes %}
                        <li>
                            {{ publicacao.titulo }} ({{ publicacao.ano_publicacao }})<br>
                            Onde publicado: {{ publicacao.onde_publicado }}<br>
                            Autores: {{ publicacao.autores }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
